{% extends 'base.html' %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="col-md-4 align-self-center mb-5">
            <h1 class="display-1">Upload image</h1>
        </div>

        <div class="col-md-3 align-self-center">
            <form method="post" enctype="multipart/form-data" class="row g-3">
                <input type="file" name="file" alt="Upload" accept="image/*" class="form-control">
                <input type="submit" class="btn btn-primary mb-3">
            </form>
        </div>
    </div>
{% endblock %}